<div class="form-producto">
  <input placeholder="Nombre" [(ngModel)]="producto.nombre" />

  <textarea
    placeholder="Descripción"
    [(ngModel)]="producto.descripcion"
  ></textarea>

  <input type="number" placeholder="Precio" [(ngModel)]="producto.precio" />

  <input type="number" placeholder="Stock" [(ngModel)]="producto.cantidad" />

  <!-- SELECT DE CATEGORÍA -->
  <select [(ngModel)]="producto.categoriaId">
    <option value="">Seleccione categoría</option>
    <option *ngFor="let c of categorias" [value]="c.id">
      {{ c.nombre }}
    </option>
  </select>
  <!-- IMAGEN -->
  <input type="file" accept="image/*" (change)="archivoSelecionado($event)" />

  <!-- PREVIEW -->
  <img *ngIf="imagenPreview" [src]="imagenPreview" class="preview" />

  <button (click)="guardarProducto()">Guardar Producto</button>
</div>